article {
  .meta {
    @extend .flex-center;
    flex-direction: column;
    gap: 0.8em;
    margin: 0.4em 0 1em;
    .date {
      width: 100%;
      padding: 0 0.5em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // padding: 0.5em;
    }
    .author {
      @extend .flex-center;
      gap: 0.4em;
      font-size: 16px;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
    .time-read {
      @extend .flex-center;
      gap: 0.2em;
      font-size: 16px;
      color: color($text, $alpha: 0.7);
      svg {
        width: 22px;
        height: 22px;
      }
    }
  }
}
