header {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  padding: 0 0.7em;
  font-size: calc(15px + 0.390625vw);
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1.2em;
    background: color($background, $shade: 300, $alpha: 0.6);
    border-radius: 150px;
    box-shadow: 0 2px 8px color($gray, $shade: 300, $alpha: 0.2);
    h2 {
      margin: 0;
      font-size: 1em;
      width: fit-content;
    }
    a {
      padding: 0.5em 0;
      color: color($text);
      border-bottom: 4px solid transparent;
      text-decoration: none;
      &:hover {
        color: color($text);
      }
      &.active {
        text-decoration: none;
        font-weight: bolder;
      }
    }
    .internal-links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }
  }
}
