.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex($direction: row, $jc: center, $at: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jc;
  align-items: $at;
}

@mixin position-abs($top, $right, $bottom, $left, $x, $y) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  transform: translate($x, $y);
}

@mixin srolled($width: 10px, $radius: 10px, $color: color($gray, $shade: 600)) {
  ::-webkit-scrollbar {
    width: $width;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: $radius;
  }
  ::-webkit-scrollbar-thumb {
    background: $color;
    border-radius: $radius;
  }
}