---
import { SITE_TITLE } from "@src/consts";
import Icon from "@src/components/Icon.astro";

const today = new Date();
---

<footer>
  &copy; {today.getFullYear()}
  <a href="/"
    >{SITE_TITLE.replace(".dev", "")}<span style="color: var(--primary-500);"
      >.dev</span
    ></a
  >. All rights reserved.
  <div class="social-links">
    <a href="https://linkedin.com/in/macktireh" target="_blank">
      <Icon name="linkedin" />
    </a>
    <a href="https://twitter.com/macktireh" target="_blank">
      <Icon name="twitter" />
    </a>
    <a href="https://github.com/Macktireh" target="_blank">
      <Icon name="github" />
    </a>
  </div>
</footer>
