---
import { Rss } from "@lucide/astro";
import { SITE } from "@src/consts";
import Link from "@src/components/Link.astro";
import Theme from "@src/components/Theme.astro";
import { useTranslations } from "@src/i18n/utils";

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<header>
  <nav>
    <h2>
      <Link href="/" lang={lang}>
        <img src="/favicon.svg" alt="logo" width="25" height="25" />
        <span class="site-name">
          {SITE.authorFirstName.toLowerCase()}.<span class="dev">com</span>
        </span>
      </Link>
    </h2>
    <div class="internal-links">
      <Link href="/posts" lang={lang}>📑{t("navbar.posts")}</Link>
      <Link href="/rss.xml" lang={lang}>
        <Rss />
      </Link>
      <Theme />
    </div>
  </nav>
</header>
