---
import { SITE } from "@src/consts";
import Link from "@src/components/Link.astro";
import Theme from "@src/components/Theme.astro";
import { useTranslations } from "@src/i18n/utils";

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<header>
  <nav>
    <h2>
      <Link href="/" lang={lang}>{SITE.authorFirstName.toLowerCase()}.dev</Link>
    </h2>
    <div class="internal-links">
      <Link href="/posts" lang={lang}>{t("navbar.posts")}</Link>
      <Theme />
    </div>
  </nav>
</header>
