---
import { SITE_TITLE } from "@src/consts";
import Link from "@src/components/Link.astro";
import Theme from "@src/components/Theme.astro";

const { lang } = Astro.props;
---

<header>
  <nav>
    <h2>
      <a href="/"
        >{SITE_TITLE.replace(".dev", "")}<span
          style="color: rgba(var(--color-primary), 1);">.dev</span
        ></a
      >
    </h2>
    <div class="internal-links">
      <Link href="/blog" lang={lang}>Blog</Link>
      <Theme />
    </div>
  </nav>
</header>
