---
import HeaderLink from "@src/components/HeaderLink.astro";
import Theme from "@src/components/Theme.astro";
import { SITE_TITLE } from "@src/consts";

const { lang } = Astro.props;
---

<header>
  <nav>
    <h2>
      <a href="/"
        >{SITE_TITLE.replace(".dev", "")}<span
          style="color: rgba(var(--color-primary), 1);">.dev</span
        ></a
      >
    </h2>
    <div class="internal-links">
      <HeaderLink href={`/${lang || ""}/blog`}>Blog</HeaderLink>
      <Theme />
    </div>
  </nav>
</header>
