---
import TranslateCurrentLink from "@src/components/TranslateCurrentLink.astro";
---

<div class="lang-links">
  <TranslateCurrentLink lang="fr"
    ><img src="/images/fr.png" alt="fr" width="18" height="18" /></TranslateCurrentLink
  >
  <span>/</span>
  <TranslateCurrentLink lang="en"
    ><img src="/images/en.png" alt="en" width="18" height="18" /></TranslateCurrentLink
  >
</div>
