---
import TranslateCurrentLink from "@src/components/TranslateCurrentLink.astro";
import { Image } from 'astro:assets';
import { DEFAULT_LANG, LOCALES, type LangType } from "@src/i18n/utils";

type Props = {
  locales?: LangType[];
};

const { locales = LOCALES } = Astro.props;
const _locales = locales.sort((a, b) => {
  if (a === DEFAULT_LANG) return -1;
  if (b === DEFAULT_LANG) return 1;
  return a.localeCompare(b);
});
---

{
  locales.length > 1 && (
    <div class="lang-links">
      {_locales.map((lang, index) => (
        <>
          <TranslateCurrentLink lang={lang}>
            <Image
              src={`/images/flag/${lang}.png`}
              alt={lang}
              width="18"
              height="18"
            />
          </TranslateCurrentLink>
          {index < locales.length - 1 ? <span>/</span> : null}
        </>
      ))}
    </div>
  )
}
