---
import Icon from "@src/components/Icon.astro";
import { SITE } from "@src/consts";
---

<div class="social-links">
  <a href={SITE.githubUrl} target="_blank">
    <Icon name="github" size={24} />
  </a>
  <a href={SITE.linkedinUrl} target="_blank">
    <Icon name="linkedin" size={24} />
  </a>
  <a href={SITE.twitterUrl} target="_blank">
    <Icon name="twitter" size={24} />
  </a>
</div>
