---
import Icon from "@src/components/Icon.astro";
---

<div class="social-links">
  <a href="https://github.com/macktireh" target="_blank">
    <Icon name="github" size={24} />
  </a>
  <a href="https://www.linkedin.com/in/macktireh/" target="_blank">
    <Icon name="linkedin" size={24} />
  </a>
  <a href="https://twitter.com/macktireh" target="_blank">
    <Icon name="twitter" size={24} />
  </a>
</div>
